/* 
    Document   : default
    Created on : Jun 1, 2013, 4:45:53 PM
    Author     : diraul
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
  /*border: 1px dashed blue;*/
}

html, body {
  margin: 0;
  padding: 0;
  height: 95%;
}

#map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.logIn {
  position: relative;
  bottom: 20px;
  right: 0;
}

.content {
  margin: 0;
  padding: 0;
  height: 95%;
}
#header {
  background-color: #f0f0f0;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  -webkit-box-shadow: inset 0 -1px 0 #ececec;
  -moz-box-shadow: inset 0 -1px 0 #ececec;
  box-shadow: inset 0 -1px 0 #ececec;
  font-family: 'TriplexSansLight';
  height: 10%;
  position: relative;
  text-shadow: 1px 1px 0 #fff;
}