/* 
    Document   : default
    Created on : Jun 1, 2013, 4:45:53 PM
    Author     : diraul
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
  /*border: 1px dashed blue;*/
}

#map-canvas {
    height: 100%; width: 85% ;
    border: 1px solid activeborder;
    border: 1px dashed blue;
}

#header {
  background-color: #f0f0f0;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  -webkit-box-shadow: inset 0 -1px 0 #ececec;
  -moz-box-shadow: inset 0 -1px 0 #ececec;
  box-shadow: inset 0 -1px 0 #ececec;
  font-family: 'TriplexSansLight';
  height: 70px;
  position: relative;
  text-shadow: 1px 1px 0 #fff;
}